

.pageContact {

    height: 100vh;
    background-color: #2f2a45;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.landing__card {
    margin-top: 2rem;
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}