.landing {
  min-height: 100vh;
  background-color: #2f2a45;
  padding: 60px 40px;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 60px;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 25px;
  }

  &__button {
    background-color: white;
    color: #2f2a45;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  }

  &__grid {
    margin-top: 20px;
    margin-bottom: auto; // empuja el footer abajo
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  &__card {
    background-color: #f3f3f3;
    color: #333;
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  }

  &__card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__card-text {
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.8;
  }
}


/* tablet */
@media (max-width: 1024px) {
  .landing {
    &__title {
      font-size: 36px;
    }

    &__grid {
      gap: 30px;
    }
  }
}


/* movil */
@media (max-width: 768px) {
  .landing {
    padding: 40px 20px;

    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 15px;
    }

    &__grid {
      grid-template-columns: 1fr;
      gap: 25px;
    }

    &__card {
      padding: 20px;
    }
  }
}


