@use '../styles/tokens' as *;
@use '../styles/mixins' as *;

.landing {
  min-height: 100vh;
  background-color: $bg-main;
  padding: 60px 40px;
  color: $text-primary;
  text-align: center;

  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 60px;
  }

  &__title {
    font: $font-title-xl;
    margin-bottom: 10px;
  }

  &__subtitle {
    font: $font-text-lg;
    color: $text-secondary;
    margin-bottom: 25px;
  }

  &__button {
    @include button-primary;
    padding: 12px 28px;
    border-radius: 25px;

    &:hover {
      @include button-primary-hover;
      transform: translateY(-2px);
      box-shadow: $shadow-soft;
    }
  }

  &__grid {
    margin-top: 20px;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  &__card {
    @include card;
    padding: 30px;
    text-align: left;
    border: 1px solid #E5E7EB;
    
  }

  &__card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__card-title {
    font: $font-title-md;
    margin-bottom: 10px;
    color: $text-primary;
  }

  &__card-text {
    font: $font-small;
    color: $text-secondary;
    line-height: 1.5;
  }
}

/* tablet */
@media (max-width: 1024px) {
  .landing {
    &__title {
      font-size: 36px;
    }

    &__grid {
      gap: 30px;
    }
  }
}

/* móvil */
@media (max-width: 768px) {
  .landing {
    padding: 40px 20px;

    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 15px;
    }

    &__grid {
      grid-template-columns: 1fr;
      gap: 25px;
    }

    &__card {
      padding: 20px;
    }
  }
}

.imgChicas {

  width: 350px;
  
}
.imgCar {

  width: 400px;
  
}


.containerimgChicas {
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}


.icons {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.textConocenos {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
