@import '../../styles/_tokens';


.header {
  width: 100%;
  background-color: #25203a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $text-light;

  position: sticky;
  top: 0;
  z-index: 1000;

  &__logo {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: $text-light;
  }

  &__nav {
    display: flex;
    gap: 30px;
  }

  &__link {
    cursor: pointer;
    font-size: 14px;
    color: $text-light-soft;
    transition: 0.2s ease;

    &:hover {
      color: $text-light;
    }
  }

  &__menu {
    display: none;
    font-size: 22px;
    cursor: pointer;
    color: $text-light;
  }
}

/* móvil */
@media (max-width: 768px) {
  .header {

    &__nav {
      position: absolute;
      top: 45px;
      right: 20px;
      background-color: #25203a;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      border-radius: 10px;
      display: none;
    }

    &__nav.active {
      display: flex;
    }

    &__menu {
      display: block;
    }
  }
}

.header__link {
  color: white;
}
