@use '../../styles/tokens' as *;


.page__footer {
  width: 100%;
  padding: 25px 20px;
  text-align: center;
  background-color: $bg-surface;
  border-top: 1px solid $border-subtle;
  color: $text-secondary;
  font-size: 14px;
}

.copy-footer {
  opacity: 0.9;
}

.link__adalab {
  color: $accent;
  font-weight: 600;
  margin-left: 5px;
  text-decoration: none;
  transition: 0.2s ease;
}

.link__adalab:hover {
  color: $accent-hover;
  text-decoration: underline;
}
